body{
  background-color:#000;
  color:#fff;
  font-family: sans-serif;
  text-align: center;

}

main{
  display: grid;
  grid-template-columns: auto auto;
}

.saved-keys p {
  font-family: monospace;
}

button{
  background-color: #fff;
  padding:2px 5px;
  border-width: 1px;
  cursor: pointer;
}

button:disabled{
  opacity: 0.7;
  cursor: no-drop;
}


.compiled-key{
  font-family: monospace;;
}


.invalid{
  margin-top: 15px;
  border: 1px solid red;
  color:red;
  font-weight: bold;
}


.inputs{
  margin-top:10px;
}


/*wifi tracker*/
.wifi-inputs {
 padding:15px;
 display: -webkit-flex;
 display: -ms-flex;
 display: flex;
}
.wifi-inputs div{
  padding:15px;
}
table{
width:100%;
border-collapse:collapse;

}
tr{
padding:0;


}
td,th{
border:1px solid #fff;
  text-align: center;
}
